<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Информация о пользователе</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>

<div th:replace="~{menu :: menu}"></div>
<div th:replace="~{header :: header}"></div>

<h2>Информация о пользователе</h2>
<div th:if="${role}">
    <p><strong>Статус:</strong> <span th:text="${role}">Не указано</span></p>
    <p><strong>Имя:</strong> <span th:text="${firstName}">Не указано</span></p>
    <p><strong>Фамилия:</strong> <span th:text="${lastName}">Не указано</span></p>
    <p><strong>Электронная почта:</strong> <span th:text="${email}">Не указано</span></p>
    <p><strong>Дата рождения:</strong>
        <span th:text="${#dates.format(dateOfBirth, 'dd/MM/yyyy')}">Не указано</span>
    </p>
</div>

<div th:replace="~{footer :: footer}"></div>

</body>
</html>
