<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Контакты</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>

<div th:replace="~{/menu :: menu}"></div>
<div th:replace="~{/header :: header}"></div>

<h2>Контактная информация</h2>
<p>Адрес: Российская Федерация, 197101, Санкт-Петербург, Кронверкский пр., д. 49, лит. А.</p>
<p>Телефон: +7 (123) 456-78-90</p>
<p>Электронная почта: info@restaurant-itmo.ru</p>
<p>Часы работы: Пн-Пт: 9:00 - 21:00; Сб-Вс: 10:00 - 22:00</p>

<div th:replace="~{/footer :: footer}"></div>

</body>
</html>
