<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Главная страница ресторана</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>

<div th:replace="~{menu :: menu}"></div>

<div th:replace="~{header :: header}"></div>

<div class="content">
    <h2>Добро пожаловать в ресторан при ИТМО!</h2>
    <p><strong>Ресторан при Университете ИТМО</strong> — это уникальное место, где встречаются современная кулинария и уютная атмосфера. Наш ресторан открыт для студентов, преподавателей и гостей университета, предлагая разнообразное меню, основанное на традициях и инновациях.</p>

    <p>Мы гордимся нашим вниманием к деталям, начиная от тщательно подобранных ингредиентов и заканчивая дружелюбным обслуживанием. Здесь каждый найдёт блюда по вкусу, будь то легкий перекус между парами или полноценный обед с друзьями и коллегами.</p>

    <h3>Почему стоит выбрать нас:</h3>
    <ul>
        <li><strong>Свежие и качественные ингредиенты</strong> — мы заботимся о том, чтобы каждый продукт был свежим и вкусным.</li>
        <li><strong>Доступные цены</strong> — ресторан при ИТМО предлагает привлекательные цены для студентов и сотрудников университета.</li>
        <li><strong>Удобное расположение</strong> — находимся прямо на территории университета, что делает нас идеальным местом для встреч в перерывах между занятиями.</li>
        <li><strong>Разнообразное меню</strong> — от классических блюд до авторских решений от нашего шеф-повара.</li>
    </ul>

    <h3>Наши услуги:</h3>
    <ul>
        <li><strong>Ежедневные бизнес-ланчи</strong> по доступным ценам.</li>
        <li><strong>Организация мероприятий и банкетов</strong> — мы поможем вам провести любое важное событие.</li>
        <li><strong>Онлайн-бронирование столов</strong> — быстро и удобно забронируйте столик через наш сайт.</li>
    </ul>

    <p><strong>Забронируйте столик прямо сейчас</strong> и насладитесь вкусом и атмосферой нашего ресторана!</p>
</div>

<div th:replace="~{footer :: footer}"></div>

</body>
</html>
