<nav th:fragment="menu">
    <ul>
        <li><a th:href="@{/user/main}">Главная</a></li>
        <!-- Видно только пользователям с ролью USER -->
        <li th:if="${userRole == 'USER'}">
            <a th:href="@{/user/booking}">Бронирование столов</a>
        </li>

        <!-- Видно только пользователям с ролью ADMIN -->
        <li th:if="${userRole == 'ADMIN'}">
            <a th:href="@{/admin/booking}">Администрирование столов</a>
        </li>

        <li><a th:href="@{/user/user-form}">Обо мне</a></li>
        <li><a th:href="@{/user/contact}">Контакты</a></li>
        <li><a th:href="@{/auth/logout}">Выход</a></li>
    </ul>
</nav>
